@font-face {
    font-family: 'Website Font';
    src: url('../assets/fonts/TTF/VictorMono-MediumItalic.ttf')
        format('truetype');
}

@font-face {
    font-family: 'Website Font Thin';
    src: url('../assets/fonts/TTF/VictorMono-ThinItalic.ttf') format('truetype');
}

.bg-vid {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -100;
}
