@font-face {
    font-family: 'Website Font';
    src: url('../assets/fonts/hot_font_extra.ttf') format('truetype');
}

@font-face {
    font-family: 'Victor';
    src: url('../assets/fonts/VictorMono-Thin.ttf');
}

.nav-font {
    font-family: 'Website';
}

.bg-vid {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -100;
}
