body {
    font-family: 'Website Font';
}

.generate {
    align-items: center;
}

.bg-vid {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -100;
}
