@font-face {
    font-family: 'VM';
    src: url('../assets/fonts/VictorMono-Thin.ttf');
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.25;
    }
    to {
        opacity: 0.5;
    }
    to {
        opacity: 0.75;
    }
    to {
        opacity: 1;
    }
}

.about-cont {
    font-family: 'VM';
    position: absolute;
    left: 50%;
    margin-left: -500px;
    height: 700px;
    width: 1000px;
    text-align: center;
    animation-name: fade-in;
    animation-duration: 4s;
}

.header {
    color: rgb(179, 179, 179);
    text-decoration: underline;
}

.body {
    color: white;
}

.back-home {
    color: white;
}

.logos {
    width: 75px;
    height: 75px;
}

.link {
    text-decoration: none;
    color: rgb(214, 243, 160);
}
